<div class="container mt-4">
  <h2 class="mb-4">Blogs</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @blogs.each do |blog| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <%= render blog, truncate: true %>
            <%= link_to "Show this blog", blog, class: "btn btn-primary mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New blog", new_blog_path, class: "btn btn-success mt-4" %>
</div>